{% load staticfiles %}
{% load i18n %}
<div id="footer">
    <div class="left">
        <ul class="list-inline">
            <li><a href="{% url 'product' %}" >Product</a></li>
            <li><a href="{% url 'pricing' %}" >Pricing</a></li>
            <li><a href="http://blog.nextchef.co/about/">About us</a></li>
            <li><a href="http://blog.nextchef.co/contact/">Contact</a></li>
            <li><a href="http://blog.nextchef.co/privacy-policy/">Privacy</a></li>
            <li><a href="http://blog.nextchef.co/terms-of-service/">Terms of service</a></li>
{#            <li><a href="{% static '2015_Press_Kit_2015.zip' %}" download>Press</a></li>#}
{#            <li><a href="http://blog.nextchef.com">Blog</a></li>#}
{#            <li><a href="{% url 'jobs' %}">Jobs</a></li>#}
        </ul>
    </div>





    <div class="copyright">&copy; The Next Chef Company</div>
    <div class="language">ESP <strong>ENG</strong></div>
    <div class="social">
        <ul class="list-inline">
            <li><a href="https://www.facebook.com/NextChefCo" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://twitter.com/NextChefCo" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://www.instagram.com/nextchef/" target="_blank"><span class="fa fa-instagram"></span></a></li>
        </ul>
    </div>
</div>
