<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Nextchef</title>
	
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#FFFFFF">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#FFFFFF">
					<tr>
						<td></td>
						<td align="right"><h6 class="collapse"></h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br><br>
						<img  class="logo"src="https://s3-eu-west-1.amazonaws.com/newsletter-cookbooth/get-the-app.png" alt="nextchef.co">
						<br><br><br>

						<h3>Capture your cooking with a beautiful photorecipe</h3>
						<br>
						
						<p class="lead">Hi [Name,fallback=],</p>
						<p>Sharing a recipe means giving other people the chance to sample your cooking,<br>understand your methods and enjoy your creativity.</p>

						<p>With Nextchef, foodies can learn from you and you can connect with chefs and professionals.</p>

						<br><br>
						<h3>Some of our favourites</h3>
						<br>

						<div class="recipe">
							<a href="http://nextchef.co/recipe/mole-negro-53680?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/85967.jpeg.1280x460_q85_crop_upscale.jpg"></a>
							<a class="name" href="http://nextchef.co/recipe/mole-negro-53680?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2">MOLE NEGRO</a>
						</div>

						<br><br>

						<div class="recipe">
							<a href="http://nextchef.co/recipe/saffron-and-bone-marrow-risotto-50468?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/79703.jpg.1280x460_q85_crop_upscale.jpg"></a>
							<a class="name" href="http://nextchef.co/recipe/saffron-and-bone-marrow-risotto-50468?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2">SAFFRON AND BONE MARROW RISOTTO</a>
						</div>

						<br><br>

						<div class="recipe">
							<a href="http://nextchef.co/recipe/apricot-tart-46808?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/74267.jpeg.1280x460_q85_crop_upscale.jpg"></a>
							<a class="name foodie" href="http://nextchef.co/recipe/apricot-tart-46808?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2">APRICOT TART</a>
						</div>

						<br><br><br>
						<h3>Connect with chef creators</h3>
						<br>

						<table class="chefs-table">
							<tr>
								<td>
									<table>
										<tr>
											<td class="image">
												<a href="http://nextchef.co/library/iain-graham-126179/?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/59190.jpeg.130x130_q85_crop_upscale.jpg"></a>
											</td>
											<td class="info">
												<p><b>Iain Graham</b></p>
												<hr>
												<p>Pro</p>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td class="image">
												<a href="http://nextchef.co/library/ivan-icra-salicru-8/?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/_94246.png.130x130_q85_crop_upscale.png"></a>
											</td>
											<td class="info">
												<p><b>Ivan Icra Salicru</b></p>
												<hr>
												<p>Pastry chef</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td><br></td>
								<td><br></td>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td class="image">
												<a href="http://nextchef.co/library/willie-harcourt-cooze-143615/?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/85903.jpeg.130x130_q85_crop_upscale.jpg"></a>
											</td>
											<td class="info">
												<p><b>Willie Harcourt-Cooze</b></p>
												<hr>
												<p>Pro</p>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table>
										<tr>
											<td class="image">
												<a href="http://nextchef.co/library/tom-klbr-51989/?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2"><img src="https://cookbooth-images.s3.amazonaws.com/thumbs/13164.jpeg.130x130_q85_crop_upscale.jpg"></a>
											</td>
											<td class="info">
												<p><b>Tom Klbr</b></p>
												<hr>
												<p>Pro</p>
											</td>
										</tr>
									</table>
								</td>
								
							</tr>
						</table>

						<br><br><br><br>
						<h3>Nextchef lets you</h3>
						<br><br>
						<table>
							<tr>
								<td style="height: 150px;width: 50%;border-right:1px solid #eee; border-bottom: 1px solid #eee;">
									<img style="opacity:0.7;" src="https://s3-eu-west-1.amazonaws.com/blog-cookbooth/wp-content/uploads/2015/01/book_icon.png">
									<br>
									<p>save your personal app and web archive</p>
								</td>
								<td style="height: 150px;width: 50%;border-bottom:1px solid #eee;">
									<img style="opacity:0.7;" src="https://s3-eu-west-1.amazonaws.com/blog-cookbooth/wp-content/uploads/2015/01/print_icon.png">
									<br>
									<p>print your recipes/p>
								</td>
							</tr>
							<tr>
								<td style="height: 150px;width: 50%;border-right:1px solid #eee;">
									<img style="opacity:0.7;" src="https://s3-eu-west-1.amazonaws.com/blog-cookbooth/wp-content/uploads/2015/01/hat_icon.png">
									<br>
									<p>contact chefs</p>
								</td>
								<td style="height: 150px;width: 50%;">
									<img style="opacity:0.7;" src="https://s3-eu-west-1.amazonaws.com/blog-cookbooth/wp-content/uploads/2015/01/love_icon.png">
									<br>
									<p>find featured recipes and collections</p>
								</td>
							</tr>
						</table>
						
						<br><br>

						<p>We invite you to create a photorecipe <br>and share it with your followers and friends.</p>

						<a href="http://nextchef.co?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var2" class="action">Start a photorecipe</a>

						
						<br><br>
						<p>Nextchef. The Social Cooking Experience.</p>
						<br><br>
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
		
			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td align="center">
							<p>If you have not registered with Nextchef, <br>please contact us </p>
							<p>
								<a href="http://blog.nextchef.co/privacy/?utm_source=mail.com&utm_medium=mail&utm_campaign=Activate&utm_content=Var1">Privacy</a> |
								<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a> | 
								<a href="#"><webversion>Online version</webversion></a>
							</p>
						</td>
					</tr>
				</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
