{% extends 'base.html' %} 
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }} | {{ recipe.name }}{% endblock title %}
{% block description %}{{ recipe.name }}{% endblock %}
{% block keywords %}{{ block.super }}{% endblock %}

{% block fb_title %}{% endblock %}
{% block fb_image %}{% endblock %}
{% block fb_url %}{% endblock %}
{% block fb_description %}{% endblock %}

{% block tw_summary %}{% endblock %}
{% block tw_title %}{% endblock %}
{% block tw_description %}{% endblock %}
{% block tw_image %}{% endblock %}

{% block extra_css %}{% endblock extra_css %}		

{% block extra_js %}
	<script>
		
		function facebook_share_dialog(evt){
			evt.preventDefault();
			function callback(response) {
				//document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
			}
			FB.ui(facebook_share_obj, callback);		      
		}
	
		function pinterest_share_dialog(evt){
			evt.preventDefault();
			window.open(pinterest_share_obj,"_blank");
		}
		
		$('#facebook_share_button').click(facebook_share_dialog);
		$('#pinterest_share_button').click(pinterest_share_dialog);
		
	</script>
{% endblock extra_js %}

{% block open_js %}

	<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
	<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
	<script type="text/javascript">      	
		
	window.fbAsyncInit = function() {
       		FB.init({
          		appId      : '{{FACEBOOK_APP_ID}}',
          		xfbml      : true,
          		version    : 'v2.6'
        	});
      	};

      	(function(d, s, id){
         	var js, fjs = d.getElementsByTagName(s)[0];
         	if (d.getElementById(id)) {return;}
         	js = d.createElement(s); js.id = id;
         	js.src = "//connect.facebook.net/en_US/sdk.js";
         	fjs.parentNode.insertBefore(js, fjs);
       	}(document, 'script', 'facebook-jssdk'));
        
      	var facebook_share_obj = {
			method: 'feed',
  			redirect_uri:'{{ request.build_absolute_uri }}',
  			link: '{{ request.build_absolute_uri }}',
  			picture: '{{ recipe.cover|thumbnail_url:"explore_box" }}',
  			name: '{{recipe.name}} {% trans "PHOTORECIPE" %}',
  			caption: '{% trans "by" %} {{recipe.chef.name}} {{recipe.chef.surname}}',
  			description: '{% trans "at NextChef" %}'
		};
      	
      	var pinterest_share_obj = "//www.pinterest.com/pin/create/button/" +
      		    "?url={{ request.build_absolute_uri }}" +
      		    "&media={{ recipe.cover|thumbnail_url:'explore_box' }}" +
      		    "&description={{recipe.name|capfirst}}%20{% trans 'photorecipe' %}%20{% trans 'by' %}%20{{recipe.chef.name}}%20{{recipe.chef.surname}}%20-%20NextChef%20";
    
    </script>
{% endblock open_js %}

{% block navbar %}{% endblock navbar %}

{% block nav-bar-fixed-space %}{% endblock %}

{% block content %}
	<div class="kitchen">
 		<div class="row steps-content">
			<div class="col-md-6 col-md-offset-3 content step6">
				<h1>{% trans 'Congratulations' %}</h1>
				<br>
				{% if recipe.private == 1 %}
					<p>
						{% trans 'Your recipe has been created, check it at' %}
						<br>
						<a class="gtm-event" data-gtme-category="Kitchen" data-gtme-action="Click Congrats" data-gtme-tag="recipe_link" href="http://{{SITE}}{% url 'recipe' slug=recipe.slug id=recipe.id %}">http://{{SITE}}{% url 'recipe' slug=recipe.slug id=recipe.id %}</a>
					</p>
				{% else %}
					<p>
						{% trans 'Your recipe has been published, check it at' %}
						<br>
						<a class="gtm-event" data-gtme-category="Kitchen" data-gtme-action="Click Congrats" data-gtme-tag="recipe_link" href="http://{{SITE}}{% url 'recipe' slug=recipe.slug id=recipe.id %}">http://{{SITE}}{% url 'recipe' slug=recipe.slug id=recipe.id %}</a>
					<hr>
					<p>{% trans 'Promote it' %}</p>
					<ul>
						<li><a class="facebook gtm-event" data-gtme-category="Kitchen" data-gtme-action="Click Congrats" data-gtme-tag="share_facebook" id="facebook_share_button" href="#">Facebook</a></li>
		                <li><a class="twitter gtm-event" data-gtme-category="Kitchen" data-gtme-action="Click Congrats" data-gtme-tag="share_twitter" href="https://twitter.com/intent/tweet?text={{recipe.name|capfirst}}%20{% trans 'photorecipe' %}%20{% trans 'by' %}%20{{recipe.chef.name}}%20{{recipe.chef.surname}}&url={{ request.build_absolute_uri }}&via=NextChefCo Your intelligent Kitchen Assistant&hashtags=photorecipe">Twitter</a></li>
		                <li><a class="pinterest gtm-event" data-gtme-category="Kitchen" data-gtme-action="Click Congrats" data-gtme-tag="share_pinterest" id="pinterest_share_button" href="">Pinterest</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}

{% block social %}{% endblock %}
		
{% block footer %}{% endblock %}