{% extends "registration/base.html" %}
{% load i18n %}

{% block registration-content %}
	{% if validlink %}
		<form method="post" action=".">
			{% csrf_token %} 
			
			<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {% if form.new_password1.errors %}error{% endif %}" id="id_new_password1" name="new_password1" type="password" placeholder="{{form.new_password1.label}}">
			{% if form.new_password1.errors %}<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ form.new_password1.errors }}</div>{% endif %}
			
			<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {% if form.new_password2.errors %}error{% endif %}" id="id_new_password2" name="new_password2" type="password" placeholder="{{form.new_password2.label}}">
			{% if form.new_password2.errors %}<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ form.new_password2.errors }}</div>{% endif %}
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{form.non_field_errors}}
			</div>
			
			<input class="ccol-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="{% trans 'Set new password' %}" />
		</form>
	{% else %}
		<p>{% trans "Password reset failed" %}</p>
	{% endif %}
{% endblock %}
