{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<form method="post" action=".">
	  {% csrf_token %} 
	  {{ form.as_p }}
	
	  <input type="submit" value="{% trans 'Submit' %}" />
	</form>
	
	{% comment %}
		<form method="post" action=".">
			{% csrf_token %} 
			{{ form.as_p }}
			
			<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {% if form.new_password1.errors %}error{% endif %}" id="id_new_password1" name="new_password1" type="password">
			{% if form.new_password1.errors %}<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ form.new_password1.errors }}</div>{% endif %}
			
			<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {% if form.new_password2.errors %}error{% endif %}" id="id_new_password2" name="new_password2" type="password">
			{% if form.new_password2.errors %}<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ form.new_password2.errors }}</div>{% endif %}
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{form.non_field_errors}}
			</div>
			
			<input class="ccol-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="{% trans 'Set new password' %}" />
		</form>
	{% endcomment %}
{% endblock %}
