{% extends "registration/base.html" %}
{% load i18n %}

{% block registration-content %}
	<form method="post" action="." class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reset-password">
		{% csrf_token %}
		
		<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{% trans 'Type your email below to reset your password.' %}</p>
		
		<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {% if form.email.errors %}error{% endif %}" id="id_email" maxlength="254" name="email" type="email" placeholder="{{ form.email.label }}">
		{% if form.email.errors %}<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ form.email.errors }}</div>{% endif %}
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{{form.non_field_errors}}
		</div>
		
	  	<input class="ccol-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="{% trans 'Send' %}" />
	  	<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12" href="{% url 'auth_login' %}">{% trans 'Cancel' %}</a>
	</form>
{% endblock %}